/* Seperate background colours */
body#page1{background-color: #ee7752;}
body#page2{background-color: #e73c7e;}
body#page3{background-color: #23a6d5;}
/* Spacer */








/* Global Nav Bar */
body {
  margin: 0;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header li a {
  display: block;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  padding: 8px 16px;
  width: 75%;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

header li a.active {
  background-color: rgb(200, 173, 22);
  color: white;
}

header li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.name {
  font-size: 1.1rem;
  font-weight: bold;
  
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}
/* Spacer */








/* About Section */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%;
  margin-left: 30%;
  padding: 1px 16px;
  height: 1000px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  color: white;
}

.about-container .c-1 {
  font-size: 3rem;
}

.about-container .c-2 {
  font-size: 2rem;
  font-weight: 500;
}

.about-container .c-3 {
  font-size: 1.2rem;
}

.p-card {
  background-color: #292d3e;
  border-radius: 8px;
  border-left: 5px solid #f1f1f1;
  padding: 0.5rem;
  margin-top: 0.8rem;
}

.p-card .c-3 {
  margin-left: 0.3rem;
}
/* Spacer */








/* Experience Section */
.experience-container {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  margin-left: 30%;
  padding: 1px 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  color: #292d3e;
}

.e-card {
  background-color: #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0.5rem;
  align-items: center;
  margin-top: 1.5px;
}

.e-card:hover {
  box-shadow: 15px 15px 20px 0 rgba(0, 0, 0, 0.2);
}

.card-1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-3 {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-1,
.card-2,
.card-3 {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  text-align: center;
  justify-content: align-items;
}

#design-list,
#dev-list,
#marketing-list {
  list-style: none;
}

#design-list li, #dev-list li, #marketing-list li {
  margin-right: 2.3rem;
}

.experience-container .c-1 {
  font-size: 3rem;
  color: white;
}

.experience-container .c-2 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}


#title-1-1,
#title-2-1,
#title-3-1 {
  font-family: "eurostile", sans-serif;
  font-weight: 800;
  color: #141c3a;
}

#title-1-2,
#title-2-2,
#title-3-2 {
  font-family: "eurostile", sans-serif;
  font-weight: 400;
  color: #6E07F3;
}
/* Spacer */









/* Portfolio Section */
.img-container {
  display: inline-block;
  width: 100%;
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: inset;
  margin-bottom: 0.5rem;
}

.img {
  height: 8rem;
}

.img-container:hover {
  transition: all 0.5s;
  cursor: pointer;
  opacity: 80%;
}

.sd {
  background: linear-gradient(-45deg, #c60138, #23a6d5, #A607CF);
}

.talensi {
  background: linear-gradient(-45deg, #1fabad, #fff);
}

.jcb {
  background: linear-gradient(-45deg, #fff, #fcae26, #000);
}

.barclays {
  background: linear-gradient(-45deg, #1ec1f2, #fff, #0179a6);
}

.left, .right {
  box-shadow: 15px 15px 20px 0 rgba(0, 0, 0, 0.2);
}
/* Spacer */










/* Global Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.8rem;
  color: white;
  font-family: sans-serif;
  background-color: #292d3e;
  margin-top: auto;
  width: auto;
  font-size: 1.5rem;
  bottom: 0;
  width: 100%;
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer > a {
  text-decoration: none;
}

.footer-text {
  font-size: 1.2rem;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: 3px solid white;
  padding: 1rem;
  padding-right: 1.7rem;
  padding-left: 1.7rem;
  color: white;
  margin-top: 1rem;
  border-radius: 8px;
}

.btn:hover {
  transition: all 0.5s;
  background-color: rgb(113, 202, 232);
  border: 3px solid rgb(113, 202, 232);
}
/* Spacer */











/* Media Queries */
@media only screen and (max-width: 1250px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
    margin: 1rem;
  }

  .about-container {
    display: block;
    width: 80%;
    margin-left: 0;
  }

  .experience-container {
    display: block;
    width: 80%;
    margin-left: 0;
  }


}
